:root{
  background-color: black;
  color: white;
}

#root{
  display: flex;
  height: 100vh;
  width: auto;
}

.navBar{
  background-color: red;
  width: 200px;
  font-size: larger;
  display: flex;
}
.navBar ol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.mainDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}



.card{
  background-color: beige;
}

.footer{
  background-color: brown;
}