:root{
  background-color: black;
  color: white;
}

#root{
  display: flex;
  height: 98vh;
}

.header{
  display: flex;
  justify-content: space-around;
}


.center{
  overflow-x: scroll;
  display: flex;
  flex:2;
 justify-content: center;
 align-content: center;

}

.center > div {
  border: 1px solid palevioletred;
  justify-items: center;
  align-content: center;
}

.center > div > p{
  line-break:5px;
}


.mainDiv{
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
}

.mainDiv> :nth-child(1){
  background-color: green;
}

.mainDiv> :nth-child(2){
  background-color: thistle;

}

.mainDiv> :nth-child(3){
  background-color: burlywood;
}


img{
  border: solid 10px blueviolet;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 20px;
}



.navBar{
  background-color: red;
  width: 200px;
  font-size: larger;
  display: flex;
}
.navBar ol{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}